.c_homeCards
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  min-height: 610px;

  +desktop
    display: block;

.homeCards_card 
  position: absolute;
  right: 32px;
  top: 0px;
  padding: 12px;
  background-color: white;
  @include default-border;
  @include box-sizing;
  display: inline-block;
  width: 310px;
  text-align: left;
  z-index: 3;
  @include default-shadow;
  @include transition(all .7s ease);
  @include opacity(1);

  & > *
    @include transition(all .7s ease);
    @include opacity(1);
    max-height: 678px;
  
  &:nth-of-type(2)
    right: 16px;
    top: 16px;
    z-index: 2;
  
  &:nth-of-type(3)
    right: 0px;
    z-index: 1;
    top: 32px;


  .card_image 
    display: block;
    height: 400px;
    width: 100%;
    padding: 0px;
    margin: 0px auto 24px auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .title 
      position: absolute;
      bottom: 12px;
      left: 12px;
      right: 12px;
      color: white;
      font-size: 20px !important;

  .card_content
    padding: 0px 0px;
    p 
      margin-bottom: 24px;

    .button 
      margin-bottom: 12px;

  .cardsOpen-true & 
    position: absolute;
    top: 0px;

    &:first-of-type
      right: 100%;
      @include translate(100%, 0px);

    &:nth-of-type(2)
      right: 50%;
      @include translate(50%, 0px);
    
    &:nth-of-type(3)
      right: 0px;

    +widescreen
      &:first-of-type
        right: 93%;

      &:nth-of-type(2)
        right: 50%;
      
      &:nth-of-type(3)
        right: 7%;

  .single-open-true & 
    @include opacity(0);
    
    & > * 
      @include opacity(0);

    &.card-open
      display: block;
      width: 100%;
      z-index: 12;
      left: 0px;
      @include translate(0%, 0px);
      @include opacity(1);
      overflow: hidden;

      & > * 
        @include opacity(1);
      
      .card_content 
        @include flex(0 1 96%);
        @include flexbox;

      .card_wrapper
        @include flexbox;
        @include align-items(stretch);
      
      .card_image
        @include flex(0 1 4%);
        white-space: nowrap;
        margin: 0px;
        height: 560px;

        .title
          @include rotate(270);
          @include transform-origin(0px 100%);
          left: 30px;
      
      .card_content--open
        @include flexbox;
        @include align-items(center);

        height: 100%;

        .card_content-left
          @include flex(0 1 398px);
          padding: 0px 52px;
          text-align: center;
          border-right: 2px solid $grey-lighter;

        .card_content-right
          @include flexbox;
          @include flex(0 1 60%);
          max-width: 60%;
          overflow: hidden;
          @include box-sizing; 
          position: relative;
          padding: 0px 48px;

          .carousel 
            display: block;
            height: 100%;
            width: 100%;

            .carousel__inner-slide
              @include flexbox;
              @include flex-direction(column);
              @include justify-content(center);

          
          .modal_close
            position: absolute;
            top: 0px;
            right: 0px;
            background: transparent;
            -webkit-appearance: none;
            appearance: none;
            -moz-appearance: none;
            border: none;
            font-size: 32px;
            font-weight: 400;
            @include rotate(45);

          .card_slides
            margin-top: 40px;
            margin-left: -20px;
            margin-right: -20px;
            padding-top: 40px;
            border-top: 2px solid $grey-lighter;

.homeCards_close 
  position: absolute;
  z-index: 10;
  top: 40%;
  right: 380px;
  height: 14px;
  width: 22px;
  @include clean-button;
  background-size: contain;
  background-image: url('../img/arrow-white.svg');
  background-repeat: no-repeat;
  @include transition(all .8s ease);
  
  .cardsOpen-true & 
    right: 100%;

    @include rotate(180);

.solution_slide
  text-align: left;
  h3 
    display: inline-block;
    margin-bottom: 24px;
    padding: 4px 12px;
    background-color: $pink;
    color: white;
    @include default-border;
    font-size: 24px;
  
  p 
    line-height: 1.2em;


.carousel_nav
  position: absolute;
  bottom: 32px;
  left: 0px;
  width: 100%;
  text-align: right;

  .carousel__dot 
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    border: none;
    color: $grey-lighter;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;

    span 
      display: inline-block;
      vertical-align: middle;
      line-height: 0px;

    &:after 
      position: relative;
      content: '...';
      display: inline-block;
      color: $grey-lighter;
      margin-left: 8px;
      margin-right: -6px;
      vertical-align: middle;
      top: -4px;

    &:last-of-type 
      &::after
        display: none;
  .carousel__dot--selected 
    color: $pink;

    
  