.c_homeCards
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  text-align: center;

  +desktop
    display: block;

.homeCards_card 
  position: absolute;
  right: 32px;
  top: 0px;
  padding: 12px;
  background-color: white;
  @include default-border;
  @include box-sizing;
  display: inline-block;
  width: 310px;
  margin: 0px 8px;
  text-align: left;
  z-index: 3;
  @include default-shadow;

  &:nth-of-type(2)
    right: 16px;
    top: 16px;
    z-index: 2;
  
  &:nth-of-type(3)
    right: 0px;
    z-index: 1;
    top: 32px;
  .card_image 
    display: block;
    height: 400px;
    width: 100%;
    padding: 0px;
    margin: 0px auto 24px auto;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .title 
      position: absolute;
      bottom: 12px;
      left: 12px;
      right: 12px;
      color: white;
      font-size: 20px !important;

  .card_content
    padding: 0px 0px;
    p 
      margin-bottom: 24px;

    .button 
      margin-bottom: 12px;
