.c_projectsList 
  .carousel
    .carousel__slider 
      overflow: visible; 
      .carousel__inner-slide
        position: relative;

        .slide_header 
          margin-bottom: 60px;
          padding: 0px 48px;


