.page_wrapper 
  position: relative;

.c_projectCategories
  display: block;
  position: relative;
  z-index: 7;
  width: 100%;
  height: 100vh;
  z-index: 3;
  overflow: visible;
  @include transition(all .3s ease);

  .projectSlider_wrapper 
    overflow: visible !important;
    padding-left: 60px;
  .slide 
    position: relative;
    width: 200px;
    height: 100%; 
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 160px;
    text-align: right;

    &.slide--last
      min-width: 500px

    .slide_image-wrapper
      text-align: right;
      position: absolute;
      left: 0px;
      top: 15%;
      margin-right: 0px;
      width: 100%;
      @include transition(all .5s ease);
      @include default-border;
      transform: translatey(0px);
      -webkit-animation: upWays1 6.2s ease-in-out infinite;
      -moz-animation: upWays1 6.2s ease-in-out infinite;
      animation: upWays1 6.2s ease-in-out infinite;

      &:hover,
      &:focus
        &:before 
          background-color: rgba($pink, .4);
          @include scale(1.1);
        .slide_image
          @include scale(1.1);
      
      &:before
        content: '';
        z-index: 4;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, .4);
        @include scale(1);
        @include transition(all .5s ease);
    
    &:nth-of-type(3n + 1) 
      .slide_image-wrapper
        top: 60%;
        -webkit-animation: upWays2 3.3s ease-in-out infinite;
        -moz-animation: upWays2 3.3s ease-in-out infinite;
        animation: upWays2 3.3s ease-in-out infinite;
    &:nth-of-type(3n + 2) 
      .slide_image-wrapper
        top: 16%;
        -webkit-animation: upWays3 4.8s ease-in-out infinite;
        -moz-animation: upWays3 4.8s ease-in-out infinite;
        animation: upWays3 4.8s ease-in-out infinite;
    &:nth-of-type(3n + 3) 
      .slide_image-wrapper
        top: 46%;
        -webkit-animation: upWays4 4.2s ease-in-out infinite;
        -moz-animation: upWays4 4.2s ease-in-out infinite;
        animation: upWays4 4.2s ease-in-out infinite;
    .slide_link 
      display: block;
      z-index: 8;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;

    .slide_title
      position: absolute;
      z-index: 5;
      left: 50%;
      top: 50%;
      color: white;
      font-size: 24px;
      line-height: 1em;
      font-weight: 700;
      text-align: center;
      @include translate(-50%, -50%);

    .slide_image
      position: relative;
      z-index: 3;
      width: 200px;
      height: 200px;
      border-radius: 100px;
      @include opacity(1);
      @include transition(all .5s ease);
      @include scale(1);

    

      